<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.com.xianyu.CustomerMapper">
	<resultMap id="customerMap" type="customer">
		<id property="customerId" column="customer_id" />
		<!--list使用collection进行映射，javaType替换为ofType-->
		<collection property="orders" ofType="order">
			<id property="orderId" column="order_id" />
		</collection>
	</resultMap>
	<select id="queryList" resultMap="customerMap">
		select *
		from `t_customer` `tc`
			     join `t_order` `tor` on `tc`.`customer_id` = `tor`.`customer_id`
	</select>
</mapper>