<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.com.xianyu.OrderMapper">
	
	<resultMap id="orderMap" type="order">
		<!--第一层赋值-->
		<!--主键用id-->
		<id property="orderId" column="order_id" />
		<result property="orderName" column="order_name" />
		<result property="customerId" column="customer_id" />
		<!--给对象属性映射-->
		<association property="customer" javaType="customer">
			<id property="customerId" column="customer_id" />
			<result property="customerName" column="customer_name" />
		</association>
	</resultMap>
	<select id="selectOrderById" resultMap="orderMap">
		select *
		from t_order tor
			     join t_customer tc on tor.customer_id = tc.customer_id
		where tor.order_id = #{orderId}
	</select>
</mapper>