<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 配置文件的根元素 -->
<configuration>
	<!-- 类型名称：为一些类定义别名 -->
	<typeAliases>
		<package name="com.xianyu.pojo" />
	</typeAliases>
</configuration>