<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.com.xianyu.EmployeeMapper">
	<select id="queryNameById" resultType="string">
		select empName
		from employee
		where empId = #{id}
	</select>
	
	<select id="querySalaryById" resultType="double">
		select `empSalary`
		from `employee`
		where `empId` = #{id}
	</select>
	
	<select id="queryById" resultType="employee">
		select *
		from `employee`
		where `empId` = #{id}
	</select>
	
	<!--	map-->
	<select id="selectEmpNameAndMaxSalary" resultType="map">
		select `empName`                               员工姓名,
		       `empSalary`                             员工工资,
		       (select AVG(`empSalary`) from employee) 部门平均工资
		from employee
		where empSalary = (select MAX(empSalary) from employee)
	</select>
	
	<!--	list-->
	<!--	当返回值为集合，指定集合泛型的类型即可-->
	<select id="queryNamesBySalary" resultType="string">
		select empName
		from employee
		where empSalary > #{salary};
	</select>
	
	<select id="queryAll" resultType="employee">
		select *
		from employee
	</select>
	
	<!--	获取自增主键-->
	<insert id="insertEmp" useGeneratedKeys="true" keyColumn="empId" keyProperty="empId">
		insert into employee (empName, empSalary)
		values (#{empName}, #{empSalary})
	</insert>
</mapper>